<!DOCTYPE html>
<html>
<head>
	<title>Add Employee</title>
</head>
<body>
		<form method="post">
			<fieldset>
				<legend>Add Employee</legend>
				<table>
					<tr>
						<td>EmpName</td>
						<td><input type="text" name="ename"></td>
					</tr>
					<tr>
						<td>EmpPhone</td>
						<td><input type="text" name="ephone"></td>
					</tr>
					<tr>
						<td>EmpAddress</td>
						<td><input type="text" name="eaddress"></td>
					</tr>
					
					<tr>
						<td>EmpGender</td>
						<td><input type="radio" name="gender" value="Male">Male
	                    <input type="radio" name="gender" value="Female">Female</td>
						
					</tr>
					
					<tr>
						<td>EmpDesignation</td>
						<td>
						<select name="edesignation">
						<option value="junior">junior</option>
						<option value="senior">senior</option>
						</select
						</td>
						
					</tr>
					
					
					
					<tr>
						<td></td>
						<td><input type="submit" name="submit" value="AddEmployee"></td>
					</tr>
				</table>
			</fieldset>
		</form>
</body>
</html>