<!DOCTYPE html>
<html>
<head>
	<title>All Employee List</title>
</head>
<body>
		<form method="post">
			<fieldset>
				<legend>All Employee List</legend>
				<table border="1">
					<tr>
						<th>EmpID</th>
						<th>Name</th>
						<th>Phone</th>
						<th>Gender</th>
						<th>Designation</th>
						<th colspan="2">Action</th>
				
					</tr>
					
					<tr>
						<td>1</td>
						<td>Ratul</td>
						<td>0123456</td>
						<td>Male</td>
						<td>Junior</td>
						<td><a href="">Update</a></td>
						<td><a href="">Delete</a></td>
				
					</tr>
					
					
				</table>
			</fieldset>
		</form>
</body>
</html>