<!DOCTYPE html>
<html>
<head>
	<title>Home page</title>
</head>
<body>
	<h1>Welcome Home!</h1> <br/>
	<a href="/addemployee">AddEmployee</a>
	<a href="/allemployeelist">AllEmpList</a>
	<br/><br/><a href="/logout">Logout</a>
</body>
</html>